.nav-bar-name-background {
    font-size: 20pt;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-color: rgb(89, 170, 165);
    padding: 15px;
  }